    /* tell the SVG path to be a thin blue line without any area fill */
    
    path {
        stroke: steelblue;
        stroke-width: 1;
        fill: none;
    }
    
    .axis {
        shape-rendering: crispEdges;
    }

    .area{
        fill: steelblue;
    }
    
    .x.axis line {
        stroke: lightgrey;
    }
    
    .x.axis .minor {
        stroke-opacity: 1;
    }
    
    .x.axis path {
        /*fill:blue;
        stroke:red;*/
    }
    
    .y.axis line,
    .y.axis path {
        fill: none;
        stroke: #000;
    }
